@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: "Source Sans Pro";
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 30vw;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-radius: 2px;
  border: 1px solid #666;
  border-bottom: 2px solid #666;
  height: 600px;
}

.heading {
  margin-bottom: 0.8rem !important;
  padding-bottom: 1rem;
  width: fit-content;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #666;
  content: "";
  margin-bottom: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80%;
}
.input-text {
  padding-left: 1rem;
  margin: 1rem 0 0 0;
  color: #333;
}
.text-field {
  padding: 1rem 2rem;
  margin: 1rem 1rem 0 1rem !important;
}
.button {
  margin: 2rem 1rem 0 1rem !important;
  max-width: 20%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
